<ion-header>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
        <img src="https://www.citizaction.fr/wp-content/uploads/image-vWYTIjfqZObmjKqssHlvHuP3RlkdNr-650x341.png" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Commençons</ion-card-subtitle>
            <ion-card-title>Bienvenue sur 'Apprendre le code de la route'</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Resources</ion-label>
        </ion-list-header>
        <ion-item href="" (click)="this.router.navigate(['tabs/tab-consulter/menu-panneau'])">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Voir les panneaux</ion-label>
        </ion-item>
        <ion-item href="" (click)="this.router.navigate(['tabs/tab-consulter/menu-categorie'])">
            <ion-icon slot="start" color="medium" name="apps"></ion-icon>
            <ion-label>Voir les catégories</ion-label>
        </ion-item>
        <ion-item href="" (click)="presentAlert()">
            <ion-icon slot="start" color="medium" name="color-palette"></ion-icon>
            <ion-label>Voir les couleurs</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
