.enabled{
  --opacity:1;
}

ion-card ion-img {
  width: 35%;
  margin: 0 auto;
}

ion-card-title {
  font-size: 1em;
  margin-bottom: 0;
}

ion-card {
  box-shadow: none !important;
}

ion-card-content {
  padding-top: 0;
}

.quiz {
  font-size: 0.85em;
}

.score {
  font-size: 0.8em;
  padding-right: 10px;
}
