<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab-quizz"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ getPageTitle() }}</ion-title>
        <div slot="end" class="score">Score: {{ score }}/{{ questions.length }}</div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card padding-top="10">
        <ion-img [src]="panneau.img"></ion-img>
        <ion-card-header>
            <ion-card-title>{{ question.libelle }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-progress-bar color="success" [value]="timer.getTime()"></ion-progress-bar>

            <ion-list lines="none">
                <ion-radio-group [(ngModel)]="reponseUtilisateur">

                    <ion-item
                            *ngFor="let reponse of question.reponses let i = index"
                            [color]="getListItemColor(i)"
                            [disabled]="isRadioDisabled(i)">
                        <ion-radio
                                slot="end"
                                [value]="i">
                        </ion-radio>
                        <label (click)="reponseUtilisateur = i">{{ reponse }}</label>
                    </ion-item>

                    <ion-button
                            *ngIf="isValiderButton()"
                            [disabled]="reponseUtilisateur == null"
                            (click)="onValiderClick()"
                            size="small"
                            expand="block">Valider
                    </ion-button>

                    <ion-button
                            *ngIf="isNext()"
                            (click)="onNextClick()"
                            size="small"
                            expand="block">Question suivante
                    </ion-button>

                    <ion-button
                            *ngIf="isResult()"
                            (click)="onResultClick()"
                            size="small"
                            expand="block">Résultat
                    </ion-button>

                </ion-radio-group>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
