<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab-consulter"></ion-back-button>
    </ion-buttons>
    <ion-title>Catégorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="router.navigate(['tabs/tab-consulter/liste-panneau']);">
      <ion-avatar slot="start">
        <ion-img src="/assets/categorie/ico/tous-00.png"></ion-img>
      </ion-avatar>
      <ion-label>Tous les panneaux</ion-label>
    </ion-item>
    <ion-item *ngFor="let categorie of categories" (click)="onCategorieClick(categorie.id)">
      <ion-avatar slot="start">
        <ion-img src="{{ categorie.ico }}"></ion-img>
      </ion-avatar>
      <ion-label>{{ categorie.titre | titlecase }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
