<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab-consulter"></ion-back-button>
        </ion-buttons>
        <ion-title>Liste des panneaux</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar placeholder="rechercher" [(ngModel)]="searchInputText" (ionInput)="onInput($event)" (ionClear)="onClear($event)"></ion-searchbar>
    <div>
        <ion-grid>
            <ion-row wrap>
                <ion-col size="3" *ngFor="let panneau of panneaux">
                    <ion-img [src]="panneau.img" (click)="onPanneauClick(panneau)"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
