<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-consulter">
      <ion-icon name="book"></ion-icon>
      <ion-label>Consulter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-quizz">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-preference">
      <ion-icon name="build"></ion-icon>
      <ion-label>Préférences</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
