<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="this.router.navigate(['tabs/tab-quizz/'])"></ion-back-button>
    </ion-buttons>
    <ion-title>resultat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-img [src]="img"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ title }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Votre score est {{ score }}<span *ngIf="oldScore">, votre ancien score était {{ oldScore }}</span></ion-card-content>
  </ion-card>
</ion-content>
