<ion-header>
  <ion-toolbar>
    <ion-title>
      Préférences
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Activer le thème sombre</ion-label>
    <ion-toggle slot="end" name="dark-theme" [(ngModel)]="darkTheme" (ionChange)="toggleTheme()"></ion-toggle>
  </ion-item>
</ion-content>
