<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab-consulter"></ion-back-button>
    </ion-buttons>
    <ion-title>Présentation des catégories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let categorie of categories" (click)="onCategorieClick(categorie)">
      <ion-avatar slot="start">
        <ion-img src="{{ categorie.ico}}"></ion-img>
      </ion-avatar>
      <ion-label>{{ categorie.titre | titlecase }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
