<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab-consulter/liste-panneau"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="categorie" padding>
    <ion-img *ngIf="categorie.img" [src]="categorie.img" alt="Visuel panneau {{ categorie.titre }}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ categorie.titre | uppercase }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{ categorie.detail }}</ion-card-content>
  </ion-card>
</ion-content>
