<ion-header>
  <ion-toolbar>
    <ion-title>
      Quizz
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <p>
    Ce quiz vous permettra de vous entrainer à reconnaître les panneaux en vous amusant.
  </p>
  <ion-button (click)="router.navigate(['tabs/tab-quizz/question'])">C'est parti !</ion-button>
</ion-content>
