<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab-consulter/liste-panneau"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="panneau" padding>
        <ion-img [src]="panneau.img" alt="Visuel panneau {{ panneau.titre }}"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>catégorie : {{ categorie.titre | uppercase }}</ion-card-subtitle>
            <ion-card-title> {{ panneau.titre | titlecase }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ panneau.commentaire }}</ion-card-content>
    </ion-card>
</ion-content>
